/* HTML CHALLENGE */
span {
    color: palevioletred;
}

#cards {
    border: 1px solid black;
    text-align: center;
}


.black {
    border: 1px solid black;
    padding: 0.3em 1.5em;
}

.red {
    border: 1px solid red;
    color : red;
}

#grammar {
    border-collapse: collapse;
    border: 1px solid black;
}

#grammar th,td {
    border: 1px solid black;
    text-align: center;
    padding: 0.7em 1em;
}

#video {
    margin-top: 2em;
}

/* CSS CHALLENGE */

#white-box {
    background-color: white;
    height: 200px;
    width: 200px;    
    box-sizing: border-box;
    border: 2px solid black;
    padding: 50px;
}

#red-target {
    background-color: crimson;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 5px dashed black;
}

.csstable {
    height: 300px;
    width: 500px;
    margin: 10px;
}

.csstable td {
    border: 2px solid black;
}

tbody>tr:nth-child(1) td:nth-child(odd) {
    background-color: #D1E5E1;
}

.maincontainers {
    width: 300px;
    border: 2px solid black;
    margin: 5px;
    box-sizing: border-box;
    padding: 5px 0 0 5px;
}

.maincontainers div{
    background-color: purple;
    color: white;
}

#firstcontainer div:nth-child(1) {
    margin-bottom: 2px;
    width: 30%;
}

#firstcontainer div:nth-child(2) {
    width: 70%;
}

#secondcontainer div:nth-child(1) {
    width: 70%;
    margin-left: 27%;
    text-align: right;
}

#secondcontainer div:nth-child(2) {
    width: 27%;
    text-align: right;
}


#boxcontainer div div{
    box-sizing: border-box;
    display: inline-block;
    color: white;
    font-size: 1em;
    text-align: center;
    /* trying to position each element next to another */
    margin: 0 0 5px 0; 
    width: 75px;
    height: 75px;
}

.redbox {
    background-color: red;
    border-left: 2px solid black;
}

.redbox:nth-child(4) {
    border-right: 2px solid black;
}

.blackbox {
    background-color: black;
    border-left: 2px solid red;
    margin-bottom: 0;
}

.blackbox:nth-child(4) {
    border-right: 2px solid red;
}

#flexcontainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    row-gap: 2px;
}

#orangecontainer, #greencontainer {
    display: flex;
    flex-direction: row;
}

.orangebox, .greenbox {
    text-align: center;
    color: white;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangebox {
    background-color: orange;
    border-left: 2px solid green;
}

.orangebox:nth-child(4) {
    border-right: 2px solid green;
}

.greenbox {
    background-color: green;
    border-left: 2px solid orange;
}

.greenbox:nth-child(4) {
    border-right: 2px solid orange;
}


